<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校园生活</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="vue/js/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="vue/js/axios.min.js"></script>
</head>
<style>
    .input_border input {
        border: 0;
        text-align: center;
    }

    .give-like {
        color: #ec971f;
        cursor: pointer;
    }

    .mouse-move:hover {
        color: #ec971f;
        cursor: pointer;
        border-radius: 13px;
        background-color: #f6e5a0;
    }

    .mouse-move-number:hover {
        color: #ec971f;
        cursor: pointer;
    }

</style>
<body style="background-color: #f5f5f5">
<div id="root" class="container-fluid" @click="changeShow">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/index.html">校园生活</a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <template>
                                    <el-row class="demo-avatar demo-basic">
                                        <div class="demo-basic--circle">
                                            <a href="userInfo/index.html">
                                                <div class="block">
                                                    <el-avatar :size="50"
                                                               :src="head.imageUrl + form.headImage"></el-avatar>
                                                </div>
                                            </a>
                                        </div>
                                    </el-row>
                                </template>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="btn-group" role="group" style="width: 100%">
                        <button type="button" class="btn btn-default"
                                style="text-align: center;width: 100%; border: #FFFFFF solid 0;font-size: 20px">
                            <a href="/index.html" style="text-decoration: none; color: #ec971f;"><span
                                    class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;&nbsp;&nbsp;全部关注</a>
                        </button>
                    </div>
                </div>
                <div class="col-md-9">
                    <div style="border: silver solid 1px;padding: 5px;border-radius: 3px; background-color: #FFFFFF">
                        <el-input
                                style="font-size: 15px; "
                                type="textarea"
                                placeholder="请输入内容"
                                v-model="textarea"
                                :rows="rows"
                                show-word-limit>
                        </el-input>
                        <br/>
                        <div style="display: flex; margin-top: 4px">
                            <div style="flex: 1;"></div>
                            <div style="flex: 1;"></div>
                            <div style="flex: 1;"></div>
                            <div style="flex: 1;"></div>
                            <div style="flex: 1;"></div>
                            <div style="flex: 1; ">
                                <template>
                                    <el-select class="input_border" v-model="value" style="width: 130px">
                                        <el-option
                                                v-for="item in options"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>
                            </div>
                            <div style="flex: 1; text-align: right">
                                <el-row>
                                    <el-button style="font-size: 12px" type="warning" :disabled="read" round
                                               @click="onSubmit">发送
                                    </el-button>
                                </el-row>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div v-for="(index, key) in lifeMessage"
                         style="background-color: #FFFFFF; border-radius: 5px; margin-top: 20px; padding: 20px">
                        <div style="display: flex">
                            <div style="flex: 1">
                                <div class="block">
                                    <el-avatar :size="50" :src="head.imageUrl + index.headImage"></el-avatar>
                                </div>
                            </div>
                            <div style="flex: 7">
                                <p><b>{{index.personName}}</b></p>
                                <p style="color: #939393">{{index.createTime}}</p>
                            </div>
                            <div style="flex: 1">
                                <div style="text-align: center" v-show="index.userId === form.id">
                                    <span @click.stop="changeStyle(index)" class="el-icon-arrow-down mouse-move"
                                          style="padding: 3px; font-size: 17px;"></span>
                                    <div v-show="index.show" @click="deleteMessage(index)"
                                         style="position: relative;border: #939393 solid 1px; background-color: #FFFFFF;border-radius: 10px;top: 5px;text-align: center;padding: 5px; cursor: pointer">
                                        删除
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="font-size: 16px">
                            {{space}}{{index.messageInfo}}
                        </p>
                        <div style="display: flex; font-size: 16px">
                            <div style="flex: 1; text-align: center;">
                                <span class="el-icon-s-promotion mouse-move-number">0</span>
                            </div>
                            <div style="flex: 1; text-align: center" @click="index.comment = !index.comment">
                                <span class="el-icon-chat-dot-round mouse-move-number">{{index.commentNum}}</span>
                            </div>
                            <div style="flex: 1; text-align: center">
                                <span class="el-icon-thumb mouse-move-number" :class="{'give-like': index.likeThis}"
                                      @click="giveLike(index)">{{index.likeNum}}</span>
                            </div>
                        </div>
                        <div v-show="index.comment">
                            <div style="background-color: #f1efef; height: 1px; margin-top: 5px"></div>
                            <div style="margin-top: 15px; display: flex; padding-left: 20px; align-items: center">
                                <div style="flex: 1">
                                    <div class="block">
                                        <el-avatar :size="40"
                                                   :src="head.imageUrl + form.headImage"></el-avatar>
                                    </div>
                                </div>
                                <div style="flex: 10;">
                                    <el-input
                                            type="textarea"
                                            autosize
                                            placeholder="请输入内容"
                                            v-model="index.textarea">
                                    </el-input>
                                </div>
                                <div style="flex: 2; width: 100%; text-align: center;">
                                    <el-row>
                                        <el-button style="font-size: 14px;" type="warning" size="mini"
                                                   :disabled="index.textarea.length <= 0"
                                                   round
                                                   @click="submitComment(index)">评论
                                        </el-button>
                                    </el-row>
                                </div>
                            </div>
                            <div style="background-color: #f1efef; height: 1px; margin-top: 5px"></div>
                            <div style="margin-top: 15px; display: flex; padding-left: 20px; align-items: flex-start">
                                <div style="flex: 1">
                                    <div class="block">
                                        <el-avatar :size="38"
                                                   :src="head.imageUrl + index.imageName"></el-avatar>
                                    </div>
                                </div>
                                <div style="flex: 12;">
                                    <div style=" word-break: break-all; padding-right: 10px">
                                        <span style="color: #eb7350;"><b>绞尽脑汁王多多</b></span>:
                                        1305位企业家上榜，总财富达24.5万亿】农夫山泉68岁的浙商钟睒睒财富比去年增长650亿元，即17%，以4，550亿元第二次成为中国首富。钟睒睒创造了二十多年来中国首富财富的最高纪录。字节跳动39岁的张一鸣财富比去年下降950亿元，即28%，以2，450亿元
                                    </div>
                                    <div style="display: flex">
                                        <div style="flex: 20;">
                                            <p style="margin: 0 0 5px 0; color: #939393">
                                                2022-11-08 14:01:40
                                            </p>
                                        </div>
                                        <div style="flex: 3; display: flex">
                                            <div style="flex: 1">
                                                <span></span>
                                            </div>
                                            <div style="flex: 1">
                                                <span class="el-icon-chat-dot-round mouse-move-number"></span>
                                            </div>
                                            <div style="flex: 1">
                                                <span class="el-icon-thumb mouse-move-number"></span>
                                            </div>
                                        </div>
                                        <div style="flex: 1"></div>
                                    </div>
                                    <div style="border-left: #dfdfdf solid 1px; padding-left: 5px">
                                        <div style="margin-top: 5px">
                                            <div>
                                                <span style="color: #eb7350;">绞尽脑汁王多多</span>:回复<span style="color: #eb7350;">绞尽脑汁王多多</span>:1305位企业家上榜，总财富达24.5万亿】农夫山泉68岁的浙商钟睒睒财富比去年增长650亿元，即17%，以4，550亿元第二次成为中国首富。钟睒睒创造了二十多年来中国首富财富的最高纪录。字节跳动39岁的张一鸣财富比去年下降950亿元，即28%，以2，450亿元
                                            </div>
                                            <div style="display: flex">
                                                <div style="flex: 20;">
                                                    <p style="margin: 0 0 5px 0; color: #939393">
                                                        2022-11-08 14:01:40
                                                    </p>
                                                </div>
                                                <div style="flex: 3; display: flex">
                                                    <div style="flex: 1">
                                                        <span></span>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <span class="el-icon-chat-dot-round mouse-move-number"></span>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <span class="el-icon-thumb mouse-move-number"></span>
                                                    </div>
                                                </div>
                                                <div style="flex: 1"></div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 5px">
                                            <div>
                                                <span style="color: #eb7350;">绞尽脑汁王多多</span>: 我是一个粉刷匠
                                            </div>
                                            <div style="display: flex">
                                                <div style="flex: 20;">
                                                    <p style="margin: 0 0 5px 0; color: #939393">
                                                        2022-11-08 14:01:40
                                                    </p>
                                                </div>
                                                <div style="flex: 3; display: flex">
                                                    <div style="flex: 1">
                                                        <span></span>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <span class="el-icon-chat-dot-round mouse-move-number"></span>
                                                    </div>
                                                    <div style="flex: 1">
                                                        <span class="el-icon-thumb mouse-move-number"></span>
                                                    </div>
                                                </div>
                                                <div style="flex: 1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

</body>
<script type="text/javascript">
    let vm = new Vue({
        el: '#root',
        data: {
            head: {
                imageUrl: 'image/'
            },
            form: {
                personName: '',
                personAge: 0,
                personAddress: '',
                schoolName: ''
            },
            /*发表文本信息*/
            textarea: '',
            rows: 3,
            options: [{
                value: 1,
                label: '公开'
            }, {
                value: 2,
                label: '粉丝'
            }, {
                value: 4,
                label: '仅自己可见'
            }],
            value: 1,
            read: true,
            space: '　　',
            lifeMessage: [],
            pageIndex: null,
            pageSize: null,
            /*信息操作方式*/
            messageOperate: [
                {
                    value: 1,
                    label: '删除'
                },
            ],
            messageValue: '',
            a: ''
        },
        methods: {
            /*新增分享信息*/
            onSubmit() {
                let that = this
                axios({
                    method: 'post',
                    url: '/lifeMessage/addLifeMessage',
                    data: {
                        messageInfo: this.textarea,
                        power: this.value
                    }
                }).then(function (action) {
                    if (action.data.successful) {
                        that.$message({
                            type: 'success',
                            message: '发布成功'
                        });
                        that.textarea = ''
                        that.listLifeMessage()
                    } else {
                        that.$message({
                            type: 'error',
                            message: action.data.message
                        });
                    }
                })
            },
            /*首次查找生活信息*/
            listLifeMessage() {
                let that = this
                axios({
                    method: 'post',
                    url: '/lifeMessage/listLifeMessage',
                    data: {
                        pageIndex: 1,
                        pageSize: 6
                    }
                }).then(function (action) {
                    that.lifeMessage = action.data.data.data
                    that.pageIndex = 3
                    that.pageSize = 2
                    that.setLifeMessageProperty()
                })
            },
            /*懒加载更多生活信息*/
            addListLifeMessage() {
                let that = this
                axios({
                    method: 'post',
                    url: '/lifeMessage/listLifeMessage',
                    data: {
                        pageIndex: that.pageIndex + 1,
                        pageSize: that.pageSize
                    }
                }).then(function (action) {
                    if (action.data.successful) {
                        /*请求成功并且请求的数据大于0*/
                        if (action.data.data.data.length > 0) {
                            // debugger
                            that.lifeMessage = that.lifeMessage.concat(action.data.data.data);
                            that.pageIndex += 1
                            that.setLifeMessageProperty()
                        }
                    }
                })
            },
            deleteMessage(index) {
                let that = this
                axios({
                    method: 'post',
                    url: '/lifeMessage/deleteLifeMessage',
                    data: {
                        id: index.id
                    }
                }).then(function (action) {
                    that.listLifeMessage()
                })
            },
            changeStyle(index) {
                if (index.show) {
                    index.show = false;
                    return
                }
                this.changeShow();
                index.show = true
            },
            setLifeMessageProperty() {
                for (let i = 0; i < this.lifeMessage.length; i++) {
                    console.log(this.lifeMessage[i].comment)
                    if (i === 0 && !this.lifeMessage[0].comment) {
                        // debugger
                    }
                    this.$set(this.lifeMessage[i], 'show', this.lifeMessage[i].show === undefined ? false : this.lifeMessage[i].show);
                    this.$set(this.lifeMessage[i], 'textarea', this.lifeMessage[i].textarea === undefined ? '' : this.lifeMessage[i].textarea)
                    this.$set(this.lifeMessage[i], 'comment', this.lifeMessage[i].comment === undefined ? false : this.lifeMessage[i].comment)
                }
            },
            changeShow() {
                for (let i = 0; i < this.lifeMessage.length; i++) {
                    this.lifeMessage[i].show = false
                }
            },
            /*点赞*/
            giveLike(index) {
                if (!index.likeThis) {
                    axios({
                        method: 'post',
                        url: '/lifeMessage/giveLike',
                        data: {
                            lifeMessageId: index.id
                        }
                    }).then(function (action) {
                        if (action.data.successful) {
                            index.likeNum += 1
                            index.likeThis = true
                        }
                    })
                } else {
                    axios({
                        method: 'post',
                        url: '/lifeMessage/deleteLike',
                        data: {
                            lifeMessageId: index.id
                        }
                    }).then(function (action) {
                        index.likeNum -= 1
                        index.likeThis = false
                    })
                }
            },
            /*添加评论*/
            submitComment(index) {
                axios({
                    method: 'post',
                    url: '/comment/addComment',
                    data: {
                        lifeMessageId: index.id,
                        commentInfo: index.textarea
                    }
                }).then(function (action) {
                    debugger
                    if (action.data.successful) {
                        index.textarea = ''
                    }
                })
            },
        },
        watch: {
            textarea() {
                let length = this.textarea.length;
                this.read = length <= 0;
                if (length > 42 * 2) {
                    this.rows = (length / 42) + 2
                } else {
                    this.rows = 3
                }
            },
        },
        mounted() {
            let that = this
            axios({
                method: "post",
                url: "/user/getUserInfo"
            }).then(function (action) {
                that.form = action.data.data
            })

            this.listLifeMessage()

        },
    })
    window.onscroll = function () {
        let doc = document.documentElement;
        /*判断滚动条是否到底部*/
        if (doc.scrollHeight - doc.clientHeight < doc.scrollTop + 10) {
            vm.addListLifeMessage()
        }
    }
</script>
</html>