.main-style {
    background-color: pink;
    height: 700px;
    margin-top: 90px;
}

.second-style {
    height: 100px;
    width: 100px;
    background-color: #ec971f;
}

.parent-style {
    display: flex;
}

.child-style {
    flex: 1;
}

.height-style{
    margin-top: 50px;
}