<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbn.campuslife.mapper.CommentMapper">

    <insert id="addComment">
        INSERT INTO LIFE_INFO_COMMENT(USER_ID, LIFE_MESSAGE_ID, COMMENT_INFO
        <trim suffixOverrides=",">
            <if test="replayUserId != null">
                ,REPLAY_USER_ID
            </if>
            <if test="parentId != null">
                ,PARENT_ID
            </if>
        </trim>
        )
        VALUES (#{userId}, #{lifeMessageId}, #{commentInfo}
        <trim suffixOverrides=",">
            <if test="replayUserId != null">
                , #{replayUserId}
            </if>
            <if test="parentId != null">
                , #{parentId}
            </if>
        </trim>
        )
    </insert>

    <resultMap id="Comment" type="com.dbn.campuslife.entity.comment.CommentPO">
        <result property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="personName" column="PERSON_NAME"/>
        <result property="replayPersonName" column="REPLAY_PERSON_NAME"/>
        <result property="replay" column="REPLAY"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="commentInfo" column="COMMENT_INFO"/>
        <result property="likeNum" column="LIKE_NUM"/>
        <result property="headImage" column="HEAD_IMAGE"/>
    </resultMap>

    <select id="listComments" resultMap="Comment">
        SELECT ID,
               USER_ID,
               (SELECT PERSON_NAME FROM USER WHERE ID = L.USER_ID)        PERSON_NAME,
               (SELECT HEAD_IMAGE FROM USER WHERE ID = L.USER_ID)         HEAD_IMAGE,
               (SELECT PERSON_NAME FROM USER WHERE ID = L.REPLAY_USER_ID) REPLAY_PERSON_NAME,
               (CASE WHEN REPLAY_USER_ID IS NULL THEN 0 ELSE 1 END)       REPLAY,
               PARENT_ID,
               DATE_FORMAT(L.CREATE_TIME, '%Y-%m-%d %H:%i:%s')            CREATE_TIME,
               COMMENT_INFO,
               0                                                          LIKE_NUM
        FROM LIFE_INFO_COMMENT L
        WHERE LIFE_MESSAGE_ID = #{lifeMessageId}
    </select>

    <delete id="deleteComment">
        DELETE
        FROM LIFE_INFO_COMMENT
        WHERE ID = #{commentId}
          AND USER_ID = #{userId}
    </delete>

</mapper>