<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbn.campuslife.mapper.UserMapper">

    <resultMap id="UserInfo" type="com.dbn.campuslife.entity.user.UserInfoPO">
        <result property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="salt" column="SALT"/>
        <result property="personName" column="PERSON_NAME"/>
        <result property="personAge" column="PERSON_AGE"/>
        <result property="personAddress" column="PERSON_ADDRESS"/>
        <result property="schoolName" column="SCHOOL_NAME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="newAccount" column="NEW_ACCOUNT"/>
        <result property="headImage" column="HEAD_IMAGE"/>
        <result property="fans" column="FANS"/>
        <result property="attention" column="ATTENTION"/>
    </resultMap>

    <select id="existUsername" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM USER
        WHERE USERNAME = #{username}
    </select>

    <insert id="addUserInfo">
        INSERT INTO USER(USERNAME, PASSWORD, SALT)
        VALUES (#{username}, #{password}, #{salt})
    </insert>

    <select id="getUserInfoByUserName" resultMap="UserInfo">
        SELECT U.ID,
               U.USERNAME,
               U.PASSWORD,
               U.SALT,
               U.PERSON_NAME,
               U.PERSON_AGE,
               U.PERSON_ADDRESS,
               U.SCHOOL_NAME,
               DATE_FORMAT(U.CREATE_TIME, '%Y-%m-%d %H:%i:%s') CREATE_TIME,
               U.NEW_ACCOUNT,
               U.HEAD_IMAGE
        FROM USER U
        WHERE USERNAME = #{username}
    </select>

    <update id="updateUserInfoById">
        UPDATE USER SET
        <trim suffixOverrides=",">
            <if test="username != null">
                USERNAME = #{username},
            </if>
            <if test="password != null">
                PASSWORD = #{password},
            </if>
            <if test="salt != null">
                SALT = #{salt},
            </if>
            <if test="personName != null">
                PERSON_NAME = #{personName},
            </if>
            <if test="personAge != null">
                PERSON_AGE = #{personAge},
            </if>
            <if test="personAddress != null">
                PERSON_ADDRESS = #{personAddress},
            </if>
            <if test="schoolName != null">
                SCHOOL_NAME = #{schoolName},
            </if>
            <if test="newAccount != null">
                NEW_ACCOUNT = #{newAccount},
            </if>
        </trim>
        WHERE ID = #{id}
    </update>

    <insert id="addAttentionUser">
        INSERT INTO USER_ATTENTION (USER_ID, ATTENTION_USER_ID)
        VALUES (#{userId}, #{attentionUserId})
    </insert>

    <delete id="deleteAttentionUser">
        DELETE
        FROM USER_ATTENTION
        WHERE USER_ID = #{userId}
          AND ATTENTION_USER_ID = #{attentionUserId}
    </delete>

    <select id="listAllUsers" resultMap="UserInfo">
        SELECT U.ID,
        U.PERSON_NAME,
        U.HEAD_IMAGE,
        (SELECT COUNT(*) FROM USER_ATTENTION WHERE U.ID = ATTENTION_USER_ID) FANS,
        (SELECT COUNT(*) FROM USER_ATTENTION WHERE ATTENTION_USER_ID = U.ID AND USER_ID = #{userId}) ATTENTION
        FROM USER U
        WHERE ID != #{userId}
        <if test="type == 'MY_ATTENTION'">
            AND EXISTS (SELECT * FROM USER_ATTENTION WHERE USER_ID = #{userId} AND ATTENTION_USER_ID = U.ID)
        </if>
        <if test="personName != null">
            AND U.PERSON_NAME LIKE CONCAT('%', #{personName}, '%')
        </if>
    </select>

    <select id="getTargetUserInfo" resultMap="UserInfo">
        SELECT U.ID,
               U.PERSON_NAME,
               U.PERSON_AGE,
               U.PERSON_ADDRESS,
               U.SCHOOL_NAME
        FROM USER U
        WHERE U.ID = #{targetUserId}
    </select>

</mapper>